*.pyc
.pytest_cache/
*.egg-info/
build/
root.d/
doc/_build/
*.swp
.idea/*
dist/*
*.c
*.so
.cache/
doc/examples/
doc/generated/
doc/modules/
files.txt
*~

examples/meuse_example_data/*
*.ipynb_checkpoints/*
